﻿<table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-family:arial;font-size:14px;color:#000">
<tbody>
<tr>
<td width="100%" style="background:#e3f5ff" align="center">
<table cellpadding="0" cellspacing="0" border="0" width="705">
<tbody>
<tr>
<td align="right" width="100%">
<table cellpadding="0" cellspacing="0" border="0" style="margin:20px 3px 0;font-size:13px">
<tbody>
<tr>
<td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border:2px solid #d3e8f3;border-top:none;border-left:none">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background:#fff;border:1px solid #b1d9ee">
<tbody><tr><td style="border-collapse:collapse;vertical-align:top">

				<table id="m_-3794630534393813027header" cellpadding="20" cellspacing="0" border="0" style="border-bottom:solid 1px #ddd;width:100%;border-collapse:collapse">
					<tbody><tr><td style="color:#444;font-size:31px;font-weight:bold;border-collapse:collapse;vertical-align:top">
						<img IMGHOST width="176" height="46" alt="ninko" style="outline:none;text-decoration:none" class="CToWUd">
					</td></tr></tbody>
				</table>

				<table cellpadding="30" cellspacing="0" border="0" style="width:100%;border-collapse:collapse">
					<tbody><tr><td id="m_-3794630534393813027message" style="border-collapse:collapse;vertical-align:top">

						<table cellpadding="10" cellspacing="0" border="0" style="width:100%;border-collapse:collapse">
	<tbody><tr><td style="border-collapse:collapse;vertical-align:top">
		<p id="m_-3794630534393813027description" style="font-size:16px;color:#555;line-height:26px;font-weight:300;margin:0 40px">
			<span class="m_-3794630534393813027notranslate">USERNAME</span>,
		</p>
	</td></tr></tbody>
</table>

<table cellpadding="10" cellspacing="0" border="0" style="width:100%;border-collapse:collapse">
	<tbody><tr><td style="border-collapse:collapse;vertical-align:top">
		<p id="m_-3794630534393813027description" style="font-size:16px;color:#555;line-height:26px;font-weight:300;margin:0 40px">
			ACTIVATECODE<br><br>
			If your account did not activate, please contact our support team here:
			<a href="http://support.lits.com/help/activate" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://app.ninko.me/help/activate">https://support.lits.com/help/activate</a>
		</p>
	</td></tr></tbody>
</table>

<table cellpadding="10" cellspacing="0" border="0" style="width:100%;border-collapse:collapse">
	<tbody><tr><td style="border-collapse:collapse;vertical-align:top">
		<p id="m_-3794630534393813027description" style="font-size:16px;color:#555;line-height:26px;font-weight:300;margin:0 40px">
			- Team LITS -
		</p>
	</td></tr></tbody>
</table>


					</td></tr></tbody>
				</table>

			</td></tr></tbody>
</table>
</td>
</tr>

<tr>
<td align="center" style="font-family:Tahoma;font-size:11px;color:#7eabc3">
<p style="padding:0;margin:25px 0;width:400px;min-height:0px;border:1px dotted #b1d9ee;border-left:none;border-right:none;border-bottom-color:#fff"></p>
<p style="margin:0;padding:0 0 40px">
Copyright © 2017 LITS. All rights reserved.<br>
</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>